.card:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: 0.5s;
}

/* .card:hover{
    background-color: rgb(76, 100, 206)
} */

button {
    padding: 1.3em 3em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #005dfd;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #FC3060;
    box-shadow: 0px 15px 20px rgba(0, 81, 255, 0.4);
    color: #ffffff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }