.card:hover{
    box-shadow: rgb(255, 68, 0) 0px 22px 70px 4px;
    transition: 0.5s;
}

.card:hover {
  background-color: rgb(183, 183, 183)55;
  
}

.card:hover img {
  opacity: 100%;
}

/* .card:hover{
    background-color: rgb(76, 100, 206)
} */

button {
    padding: 1.3em 3em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #ffffff;
    background-color: black;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 20px rgb(255, 255, 255);
    color: #000000;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }